@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    height:100%; 
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    margin: 0 auto;
    
}



/*header
======================*/

#heading{

    width: 100%;
    height: 100vh;
    }
    
.img-logo{
    height: 65px !important;
    top: 4px;
}

/* report-title
======================*/
.report-container {
    margin-top: 5.6rem;
}

.report-title {
    padding: 5em;
    color: #ffffff;
    font-weight: 100;
    background-color: #a20a0a;
}

.report-title h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px #000000; 
}

@media (max-width:55rem){
   
}


/* report-form
======================*/

.report-form {
    padding: 5em;
    text-align: left;
}

.content {
    width: fit-content;
    margin: auto;
}

#label {
    margin-right: 1rem;
}

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #696969;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:hover {
    border-color: #df2121;
    box-shadow: 0 0 8px 0 #df2121;

}

input[type=submit] {
    
  background-color:#a20a0a;
  border: none;
  color: white;
  text-decoration: none;
  margin: 8px;
  cursor: pointer;
  transform: translateX(290%);
}

input[type=submit]:hover {
    background-color: #df2121;
}

input[type=radio]{
    display: inline;
    overflow: hidden;
}

.input_work {
    margin-bottom: 2em;
    margin-top: 1em;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.input_state{
    width: 250px;
    padding: 12px 20px;
    margin: 15.5px 0;
    display: inline-block;
    border: 1px solid #696969;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_state:hover{
    border-color: #df2121;
    box-shadow: 0 0 8px 0 #df2121;
}

.input_grp {
    display: flex;
    justify-content: space-between;
}
 
textarea {
    margin-top: 10px;
    width: 550px;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 0.1px;
}

textarea:hover{
    border-color: #df2121;
    box-shadow: 0 0 8px 0 #df2121;
}


@media (min-width:55rem){

}

/* footer
======================*/

#footer{
    padding-top: 4%;
    text-align: center;
    padding-bottom: 2%;
    color: #929292;
}
    
